<ul class="documents">
  {% for i in range(0, documentCount) -%}
    {% set x = [
      {
        name: 'UK air and space doctrine (JDP 0-30)',
        format: data['draft-format'] or 'Guidance',
        status: 'Draft - 2nd edition',
        date: '15 December 2017 ',
        editor: 'Kamala Khan',
        organisation: 'Ministry of Defence',
        link: '/draft/document-tasks'
      },
      {
        name: 'Improving social mobility through education',
        format: 'Detailed guidance',
        status: 'Draft - 2nd edition',
        date: '10 August 2017',
        editor: 'Peter Parker',
        organisation: 'Government Digital Service (GDS)'
      },
      {
        name: 'Product manager: skills they need',
        format: 'Publication',
        status: 'Published - 1st edition',
        date: '1 July 2017',
        editor: 'Peter Parker',
        organisation: 'Centre for Connected and Autonomous Vehicles (CCAV)'
      },
      {
        name: 'Disabled Person’s Railcard and assisted journeys data: 2017 to 2018 (P5 to P7)',
        format: 'Official statistics',
        status: 'Force published - 2nd edition',
        date: '23 January 2017',
        editor: 'Peter Parker',
        organisation: 'Advisory Committee on the Microbiological Safety of Food (ACMSF)'
      }
    ] | random %}
  <li>
    <h3 class="govuk-heading-m govuk-!-mb-r3"><a href="{% if x.link %}{{ x.link }}{% else %}#{% endif %}">{{ x.name }}</a></h3>
    <dl class="metadata govuk-body govuk-!-mb-r2">
      <dt>Organisation:</dt>
      <dd>{{ x.organisation }}</dd>
      <dt>Document type:</dt>
      <dd>{{ x.format }}</dd>
      <dt>Status:</dt>
      <dd>{{ x.status }}</dd>
      <dt>Editor:</dt>
      <dd>{{ x.editor }}</dd>
      <dt>Updated on:</dt>
      <dd> {{ x.date }}</dd>
    </dl>
    <p class="govuk-body govuk-!-mb-r0"><a href="">View on GOV.UK</a></p>
  </li>
  {%- endfor %}
</ul>
