<table class="govuk-c-table">
  <thead class="govuk-c-table__head">
    <tr class="govuk-c-table__row">
      <th class="govuk-c-table__header" scope="col">Title</th>
    </tr>
  </thead>
  <tbody>
    {% for i in range(0, documentCount) -%}
      {% set x = [
        {
          name: 'Improving social mobility through education',
          format: 'Detailed guidance',
          date: '10 August 2017'
        },
        {
          name: 'Product manager: skills they need',
          format: 'Publication',
          date: '1 July 2017'
        },
        {
          name: 'Disabled Person’s Railcard and assisted journeys data: 2017 to 2018 (P5 to P7)',
          format: 'Official statistics',
          date: '23 January 2017'
        }
      ] | random %}
    <tr class="govuk-c-table__row">
      <td class="govuk-c-table__cell"><a href="#" class="govuk-heading-s govuk-!-mb-r0">{{ x.name }}</a>{{ x.format}}, {{ x.date }}</td>
    </tr>
    {%- endfor %}
  </tbody>
</table>
