{%
  set options = [
    "Transport",
    "Transport > Driving and road transport",
    "Transport > … > Driving instruction and driving lessons",
    "Transport > … > … > Approved Driving Instructor registration and renewals",
    "Transport > … > … > Approved driving instructors and schools",
    "Transport > … > … > Driving examination",
    "Transport > … > … > Driving instructor standards and conduct",
    "Transport > … > … > Professional development for approved driving instructors",
    "Transport > … > … > Driving, motorcycle and LGV instructor qualification process",
    "Transport > … > Professional driving of LGV, HGV and PSV",
    "Transport > … > … > Drivers' hours for passenger carrying vehicles",
    "Transport > … > … > HGV road user levy",
    "Transport > … > … > EU and international driving rules",
    "Transport > … > … > Drivers' hours for goods vehicles",
    "Transport > … > … > CPC training",
    "Transport > … > Traffic and congestion",
    "Transport > … > Road transport and the environment",
    "Transport > … > … > Emission testing",
    "Transport > … > … > Low emission and electric vehicles",
    "Transport > … > … > … > Funding and grants for low emission vehicles",
    "Transport > … > … > … > Chargepoints for low emission and electric vehicles",
    "Transport > … > … > Renewable fuels",
    "Transport > … > Road safety, driving rules and penalties",
    "Transport > … > … > Road accidents",
    "Transport > … > … > Driving and medical conditions",
    "Transport > … > … > Driving and mobile phones",
    "Transport > … > … > Seat belts",
    "Transport > … > … > Speeding",
    "Transport > … > … > Penalty points, fines and driving bans",
    "Transport > … > … > Drink and drug driving",
    "Transport > … > Vans and minibuses",
    "Transport > … > Vehicle registration numbers",
    "Transport > … > Cycling and walking",
    "Transport > … > Autonomous road vehicles",
    "Transport > … > Vehicle ownership",
    "Transport > … > … > Written off vehicles",
    "Transport > … > … > Driver and vehicle record",
    "Transport > … > … > Vehicle export and import",
    "Transport > … > … > Vehicle tax",
    "Transport > … > … > Vehicle insurance",
    "Transport > … > … > Scrapping a vehicle",
    "Transport > … > … > MOTs (car and motorcycle)",
    "Transport > … > … > … > MOT status of a vehicle",
    "Transport > … > … > … > MOT complaints",
    "Transport > … > … > … > MOT certificate replacement",
    "Transport > … > … > … > Getting an MOT",
    "Transport > … > … > Buying selling and registering a vehicle",
    "Transport > … > Vehicle approval and standards",
    "Transport > … > … > Providing MOT tests",
    "Transport > … > … > Individual vehicle approval",
    "Transport > … > … > Towing",
    "Transport > … > … > Public service vehicles standards and checks",
    "Transport > … > … > Vehicle recalls",
    "Transport > … > … > Motorcycle type approval",
    "Transport > … > … > Modification",
    "Transport > … > … > Manufacturing vehicles",
    "Transport > … > … > HGV standards and vehicle checks",
    "Transport > … > … > Annual vehicle tests",
    "Transport > … > Transport businesses and vehicle operators (including licencing)",
    "Transport > … > … > Employing drivers",
    "Transport > … > … > CPC training centres",
    "Transport > … > … > Tachograph systems and centres",
    "Transport > … > … > Vehicle operator licences",
    "Transport > … > … > … > Taxi and private hire vehicle licencing",
    "Transport > … > … > … > Public service vehicles licencing",
    "Transport > … > … > … > HGV and goods carriage vehicle licencing",
    "Transport > … > … > Speed limiter centres",
    "Transport > … > … > Fleet management",
    "Transport > … > Driving licences",
    "Transport > … > … > Driving in the UK",
    "Transport > … > … > Driving licence applications and renewals",
    "Transport > … > … > Personal driving licence information",
    "Transport > … > … > Driving licences and medical conditions",
    "Transport > … > … > Foreign driving licences",
    "Transport > … > … > Driving licence categories",
    "Transport > … > … > Driving abroad",
    "Transport > … > Driving and motorcycle tests",
    "Transport > … > … > Motorcycle training",
    "Transport > … > … > Driving tests for other vehicles",
    "Transport > … > … > Lorry, bus and coach driving tests",
    "Transport > … > … > Practical motorcycle riding tests",
    "Transport > … > … > … > Motorcycle test centres",
    "Transport > … > … > … > Motorcycle riding test preparation",
    "Transport > … > … > … > Motorcycle riding test bookings",
    "Transport > … > … > … > During a motorcycle riding test",
    "Transport > … > … > Practical car driving tests",
    "Transport > … > … > … > Practical car driving test bookings",
    "Transport > … > … > … > During a car driving test",
    "Transport > … > … > … > Driving test centres",
    "Transport > … > … > … > Car driving test preparation",
    "Transport > … > … > Theory tests",
    "Transport > … > … > … > Theory test centres",
    "Transport > … > … > … > Theory test bookings",
    "Transport > … > … > … > Motorcycle theory tests",
    "Transport > … > … > … > Driving theory tests",
    "Transport > Transport modelling and appraisal",
    "Transport > Aviation",
    "Transport > … > Air passenger duty",
    "Transport > … > General aviation",
    "Transport > … > Air routes",
    "Transport > … > Aviation and Europe",
    "Transport > … > Surface access to airports",
    "Transport > … > Aviation passenger experience",
    "Transport > … > Aviation forecasts",
    "Transport > … > Night flights",
    "Transport > … > New aviation technology",
    "Transport > … > … > Spaceflight",
    "Transport > … > … > Drones",
    "Transport > … > Air accidents",
    "Transport > … > Aviation and the environment",
    "Transport > … > Aviation safety and security",
    "Transport > … > Aviation legislation and regulation",
    "Transport > … > Airport capacity and expansion",
    "Transport > … > Air navigation",
    "Transport > Local transport",
    "Transport > … > Travel passes and concessions",
    "Transport > … > Local transport and the environment",
    "Transport > … > Light rail and trams",
    "Transport > … > Inland water boats",
    "Transport > … > Local transport funding",
    "Transport > … > Funicular railway (cable cars)",
    "Transport > … > Tube",
    "Transport > … > Buses",
    "Transport > … > … > Buses and the environment",
    "Transport > … > … > Bus service registration and permits",
    "Transport > … > … > Bus security",
    "Transport > … > … > Bus funding",
    "Transport > … > … > Improvements to buses",
    "Transport > … > … > Bus service performance",
    "Transport > … > … > Bus routes",
    "Transport > … > … > Bus passenger experience",
    "Transport > … > … > Bus accessibility",
    "Transport > Transport and the environment (cross-modal)",
    "Transport > Road infrastructure",
    "Transport > … > Road maintenance",
    "Transport > … > Animals on roads",
    "Transport > … > Traffic cameras",
    "Transport > … > Roads and the environment",
    "Transport > … > Advice for drivers",
    "Transport > … > Speed limits",
    "Transport > … > Road tolls and charges",
    "Transport > … > Road improvement and investment",
    "Transport > … > … > Improved road surface",
    "Transport > … > … > Major roads",
    "Transport > … > … > Local roads",
    "Transport > … > … > Motorways",
    "Transport > … > … > Making roads safer",
    "Transport > … > Smart motorways",
    "Transport > … > Parking",
    "Transport > … > Traffic signs, signals and markings",
    "Transport > … > Roadworks and streetworks",
    "Transport > … > … > Weekend closures",
    "Transport > … > … > Planned roadworks",
    "Transport > … > … > Road closures",
    "Transport > … > … > Overnight works",
    "Transport > … > … > Property affected by roadworks and streetworks",
    "Transport > Transport accessibility and mobility",
    "Transport > … > Taxi and private hire accessibility",
    "Transport > … > Mobility scooters and wheelchairs",
    "Transport > … > Help on public transport",
    "Transport > … > Blue badges",
    "Transport > Rail",
    "Transport > … > Rail network",
    "Transport > … > Rail interoperability",
    "Transport > … > Rolling stock (passenger trains)",
    "Transport > … > Rail ticketing and fares",
    "Transport > … > Crossrail",
    "Transport > … > Rail infrastructure",
    "Transport > … > Rail safety and security",
    "Transport > … > Rail accessibility",
    "Transport > … > Rail stations",
    "Transport > … > Rail passenger experience",
    "Transport > … > Rail franchising",
    "Transport > … > … > Rail franchise procurement",
    "Transport > … > … > Rail franchise public register",
    "Transport > … > Rail accidents",
    "Transport > … > HS2",
    "Transport > … > … > HS2 environment",
    "Transport > … > … > HS2 corporate",
    "Transport > … > … > HS2 planning",
    "Transport > … > … > … > HS2 planning (routes and maps)",
    "Transport > … > … > … > HS2 planning forums",
    "Transport > … > … > HS2 business case",
    "Transport > … > … > … > HS2 strategic case",
    "Transport > … > … > … > HS2 economic case",
    "Transport > … > … > HS2 property",
    "Transport > … > … > … > HS2 property maps",
    "Transport > … > … > … > HS2 property compensation schemes",
    "Transport > … > … > HS2 safety and security",
    "Transport > … > … > HS2 construction and engineering",
    "Transport > … > … > HS2 supply chain",
    "Transport > … > … > HS2 costs",
    "Transport > … > … > HS2 stations",
    "Transport > … > … > HS2 stakeholder and community engagement",
    "Transport > … > … > HS2 phase two",
    "Transport > … > … > … > HS2 phase 2a",
    "Transport > … > … > … > HS2 phase 2b",
    "Transport > … > … > HS2 phase one",
    "Transport > … > … > HS2 legislation",
    "Transport > … > … > HS2 design",
    "Transport > … > … > HS2 additional provisions",
    "Transport > … > Environmental impact of rail",
    "Transport > … > Community rail",
    "Transport > Maritime",
    "Transport > … > UK sea passengers",
    "Transport > … > … > UK international sea passengers",
    "Transport > … > … > UK domestic sea passengers",
    "Transport > … > Maritime passenger rights",
    "Transport > … > Waterways (maritime)",
    "Transport > … > Maritime accidents and wrecks",
    "Transport > … > Ports, harbours and other installations",
    "Transport > … > Maritime safety",
    "Transport > … > Maritime and the environment",
    "Transport > … > Maritime security",
    "Transport > … > Shipping",
    "Transport > … > … > Safe and compliant operation of vessels",
    "Transport > … > … > Maritime navigation",
    "Transport > … > … > Ship crew training and certification",
    "Transport > … > … > … > Seafarer examinations",
    "Transport > … > … > … > Seafarer certification",
    "Transport > … > … > … > Support for maritime training (SMarT)",
    "Transport > … > … > … > Maritime training courses",
    "Transport > … > … > … > Maritime licences",
    "Transport > … > … > Vessel registration",
    "Transport > … > … > … > Pleasure boat registration ",
    "Transport > … > … > … > Passenger vessel registration",
    "Transport > … > … > … > Fishing vessel registration",
    "Transport > … > … > … > Emergency position-indicators radio beacon stations (EPIRBS)",
    "Transport > … > … > … > Yachts registration",
    "Transport > … > … > … > Merchant vessel registration",
    "Transport > … > … > Vessel design",
    "Transport > … > … > … > Pleasure boat design",
    "Transport > … > … > … > Fishing vessel design",
    "Transport > … > … > … > Merchant vessel design",
    "Transport > … > … > … > Passenger vessel design",
    "Transport > … > … > … > Leisure boat design",
    "Transport > … > … > Maritime surveying",
    "Transport > … > … > Ship equipment",
    "Transport > … > … > … > Maritime radio (GMDSS)",
    "Transport > … > … > … > Vessel log books",
    "Transport > … > … > … > Enclosed space",
    "Transport > … > … > … > Life saving appliances (LSA)",
    "Transport > … > … > Ship crew management ",
    "Transport > … > … > … > Ship crew health and safety",
    "Transport > … > … > … > Employment of seafarers",
    "Transport > … > … > … > Nautical approved doctors",
    "Transport > … > … > … > Ship crew accomodation",
    "Transport > … > Maritime enforcement",
    "Transport > … > … > Vessel detentions",
    "Transport > … > … > Port state control",
    "Transport > … > Fishing",
    "Transport > … > Coastguard search and rescue",
    "Transport > Transport planning",
    "Transport > … > Reliability of journeys",
    "Transport > … > Transport connectivity",
    "Transport > … > Journey times",
    "Transport > Transport security",
    "Transport > Freight and cargo",
    "Transport > … > Air freight and cargo",
    "Transport > … > Rail freight and cargo",
    "Transport > … > Road freight and cargo",
    "Transport > … > Vessel cargo",
    "Transport > … > Transport of dangerous goods",
    "Transport > … > … > Dangerous goods classification",
    "Transport > … > … > Secure transport of dangerous goods",
    "Transport > … > … > Safe transport of dangerous goods",
    "Transport > … > … > … > Safe transport of dangerous goods by sea",
    "Transport > … > … > … > Safe transport of dangerous goods by air",
    "Transport > … > … > … > Safe transport of dangerous goods by rail",
    "Transport > … > … > … > Safe transport of dangerous goods by road",
    "Transport > Transport corporate information",
    "Transport > … > Ministerial gifts, hospitality, meetings and overseas travel (transport)",
    "Transport > … > Departmental spend (transport)",
    "Transport > … > Departmental staff numbers and costs (transport)",
    "Transport > Careers in transport"

    
  ]
%}
  <option value="" selected>Pick an option</option>
  {% for option in options %}
    <option value="{{ option }}"  >{{ option }}</option>
  {% endfor %}
