.card {
  margin-top: $govuk-gutter;
  padding: $govuk-gutter 0;

  main > div > &:first-child {
    margin-top: 0;
  }

  .card-description {
    @include govuk-font-regular-19;
    margin-top: 0;
  }

  .card-period {
    margin: 0;

    .card-period-date-change {
      text-align: right;
      display: block;
    }
  }

  .card-metric-total-description {
    margin: $govuk-gutter / 6 0 0;
    @include govuk-font-regular-19;
  }

  .card-big-metric {
    margin: $govuk-gutter * 1.5 0 0;

    .card-big-metric-name,
    .card-big-metric-name {
      display: block;
    }

    .card-big-metric-name {
      @include govuk-font-bold-19;
    }

    .card-big-metric-latest {
      @include govuk-font-bold-48;
    }
  }

  .card-graph-key {
    text-align: center;

    span {
      width: 10px;
      height: 10px;
      display: inline-block;
      background-color: #e02d31;
      margin: 0 $govuk-gutter / 6 0 $govuk-gutter;

      &:first-child {
        background-color: #278dc5;
        margin: 0 $govuk-gutter / 6;
      }
    }
  }
}

/* extensions to data-tables styles */
.heading-width-340 {
  min-width: 340px;
}

.heading-width-100 {
  min-width: 100px;
}

.content-item-ctas {
  margin-bottom: 0;

  a:first-child {
    margin-right: $govuk-gutter-half;
  }
}

.result-info {
  padding-bottom: 0;

  .result-count,
  .result-range {
    @include govuk-font-regular-19;
    margin-bottom: 0;
  }

  .result-range-option {
    margin-left: $govuk-gutter-half;
  }
}

.result-info .result-range,
.app-c-download-link {
  margin-top: 10px;
}

.app-c-download-link {
  float: none;
}

/* extensions to filter-fields */
.filter-section {
  margin-top: 0;
	padding: $govuk-gutter 0;

  .govuk-c-label {
    @include govuk-font-bold-19;
  }
}

.govuk-form-group {
  margin-bottom: $govuk-gutter-half;
}

.filter-fields-button {
  float: right;
}

.filter-button-2 {
	margin-top: 0;
}

.table-filters {
  margin-top: $govuk-gutter-half;
  background: transparent;

  .govuk-c-label {
    @include govuk-font-bold-19;
  }

	.filter-button-2 {
		margin-top: 25px;	
	}
}

.clear-filters {
	float: right;
	display: inline-block;
	padding-top: 7px;
}

/* Hack to make the first column fixed. From: https://codepen.io/paulobrien/pen/gWoVzN */
.table-scroll {
  position: relative;
	overflow: hidden;

	.table-wrap {
		overflow: auto;
	}

  .clone {
		position: absolute;
		top: 0;
		left: 0;
    pointer-events: none;
  }

	.clone th, .clone td {
		visibility: hidden
	}

	.clone tbody th {
		visibility: visible;
	}

	.clone .fixed-side {
		visibility: visible;
		background: white;
    pointer-events: auto;
	}

	.clone thead, .clone tfoot{
		background: transparent;
	}
}

/* extensions to navigation */

.app-navigation {
  background-color: transparent;
  border-bottom: solid 1px $govuk-border-colour;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: $govuk-gutter;

  .app-navigation__list {
    @include govuk-h-clearfix;
  }
}

/* Full width styles */

.govuk-o-full-width-container,
#global-header .header-wrapper-full-width {
  max-width: 100%;
}

.govuk-o-full-width-container {
  margin: 0 $govuk-gutter;
}

.condensed-view {
  padding-top: 0;
}

/* extensions to details styles */

details {
  @include govuk-font-regular-19;
  color: $govuk-link-colour;

  &:hover,
  &:focus {
    color: $govuk-link-hover-colour;
  }

  .filter-section & {
    clear: both;
    @include govuk-h-clearfix;
    margin-left: $govuk-gutter-half;
    margin-right: $govuk-gutter-half;
    margin-bottom: 0;

    summary {
      margin-bottom: $govuk-gutter / 6;
    }
  }

  summary {
    cursor: pointer;
  }
}

/* extensions to grids */

.govuk-o-grid__item--three-quarters {
	@include mq($from: tablet) {
		width: percentage(3 / 4);
	}
}
