.card {
  margin-top: $govuk-gutter;
  padding: $govuk-gutter 0;

  main > div > &:first-child {
    margin-top: 0;
  }

  .card-description {
    @include govuk-font-regular-19;
    margin-top: 0;
  }

  .card-period {
    margin: 0;

    .card-period-date-change {
      text-align: right;
      display: block;
    }
  }

  .card-metric-total-description {
    margin: $govuk-gutter / 6 0 0;
    @include govuk-font-regular-19;
  }

  .card-big-metric {
    margin: $govuk-gutter * 1.5 0 0;

    .card-big-metric-name,
    .card-big-metric-name {
      display: block;
    }

    .card-big-metric-name {
      @include govuk-font-bold-19;
    }

    .card-big-metric-latest {
      @include govuk-font-bold-48;
    }
  }

  .card-graph-key {
    text-align: center;

    span {
      width: 10px;
      height: 10px;
      display: inline-block;
      background-color: #e02d31;
      margin: 0 $govuk-gutter / 6 0 $govuk-gutter;

      &:first-child {
        background-color: #278dc5;
        margin: 0 $govuk-gutter / 6;
      }
    }
  }
}

/* extensions to data-tables styles */
.data-table {
  background: white;

  thead th a {
		position: relative;
		padding-right: 15px;
		color: $govuk-black;
		font-weight: bold;

		&,
		&:active,
		&:hover,
		&:focus {
			text-decoration: none;
		}

		&:after,
		&:before {
			border-left: 5px solid transparent;
			border-right: 5px solid transparent;
			content: "";
			display: block;
			margin-left: 5px;
			position: absolute;
			right: 0;
			top: 7px; 
		}

		&:after {
			border-bottom: 8px solid #005ea5;
		}

		&:before {
			border-top: 8px solid #005ea5;
			top: 18px;
		}

		&.sort-link:before,
		&.sort-link.asc:before,
		&.sort-link.desc:before {
			border-top: none;
			content: none;
		}

		&.sort-link.desc:after {
			border-bottom: none;
		}

		&.info-link {
			display: block;
			color: $govuk-link-colour;
			font-weight: normal;

			&,
			&:active,
			&:hover,
			&:focus {
				text-decoration: underline;
			}

			&:before,
			&:after,
			&.asc:before,
			&.desc:before {
				border-top: none;
				content: none;
			}
		}

  }
}

.heading-width-340 {
  min-width: 340px;
}

.heading-width-100 {
  min-width: 100px;
}

.content-item-ctas {
  margin-bottom: 0;

  a:first-child {
    margin-right: $govuk-gutter-half;
  }
}

.result-info {
  padding-bottom: 0;

  .result-count,
  .result-range {
    @include govuk-font-regular-19;
    margin-bottom: 0;
  }

  .result-range-option {
    margin-left: $govuk-gutter-half;
  }
}

.result-info .result-range,
.app-c-download-link {
  margin-top: 10px;
}

.app-c-download-link {
  float: none;
}

.sharing-link {
  display: block;
  @include govuk-font-bold-19;
  max-width: 420px;
}

/* extensions to filter-fields */
.filter-section {
  margin-top: 0;
	padding: $govuk-gutter 0;

  .govuk-c-label {
    @include govuk-font-bold-19;
  }
}

.govuk-form-group {
  margin-bottom: $govuk-gutter-half;
}

.filter-fields-button {
  float: right;
}

.filter-button-2 {
	margin-top: 0;
}

.table-filters {
  margin-top: $govuk-gutter-half;
  background: transparent;

  .govuk-c-label {
    @include govuk-font-bold-19;
  }

	.filter-button-2 {
		margin-top: 25px;	
	}
}

.clear-filters {
	float: right;
	display: inline-block;
	padding-top: 7px;
}

/* extensions to navigation */

.app-navigation {
  background-color: transparent;
  border-bottom: solid 1px $govuk-border-colour;
  padding-left: 0;
  padding-right: 0;
  margin-bottom: $govuk-gutter;

  .app-navigation__list {
    @include govuk-h-clearfix;
  }
}

/* Full width styles */

.govuk-o-full-width-container,
#global-header .header-wrapper-full-width {
  max-width: 100%;
}

.govuk-o-full-width-container {
  margin: 0 $govuk-gutter;
}

.condensed-view {
  padding-top: 0;
}

/* extensions to details styles */

details {
  @include govuk-font-regular-19;
  color: $govuk-link-colour;

  &:hover,
  &:focus {
    color: $govuk-link-hover-colour;
  }

  .filter-section & {
    clear: both;
    @include govuk-h-clearfix;
    margin-left: $govuk-gutter-half;
    margin-right: $govuk-gutter-half;
    margin-bottom: 0;

    summary {
      margin-bottom: $govuk-gutter / 6;
    }
  }

  summary {
    cursor: pointer;
  }
}

/* extensions to grids */

.govuk-o-grid__item--three-quarters {
	@include mq($from: tablet) {
		width: percentage(3 / 4);
	}
}

/* exntensions to autocomplete */

.autocomplete__input {
  background: white;
}
