.card {
  margin-top: $govuk-gutter;
  padding: $govuk-gutter 0;

  main > div > &:first-child {
    margin-top: 0;
  }

  .card-period {
    margin: 0;
  
    .govuk-c-select {
      width: auto;
    }
  }

  .card-metric-difference {
    margin: 0;
  }

  .card-big-metric {
    margin: $govuk-gutter * 1.5 0 0;

    .card-big-metric-name,
    .card-big-metric-name {
      display: block;
    }

    .card-big-metric-name {
      @include govuk-font-bold-19;
    }

    .card-big-metric-latest {
      @include govuk-font-bold-48;
    }
  }
}

/* extensions to data-tables styles */
.heading-width-400 {
  min-width: 400px;
}

.heading-width-100 {
  min-width: 100px;
}
