.remove-top-margin {
  margin-top: 0 !important;
}

.remove-bottom-margin {
  margin-bottom: 0 !important;
}

.remove-vertical-margins {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}

.add-bottom-margin {
  margin-bottom: 2em !important;
}
