// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';
@import 'node_modules/codemirror/lib/codemirror';
@import 'node_modules/highlight-within-textarea/jquery.highlight-within-textarea';

@import 'vendor/accessible-autocomplete';
@import 'vendor/codemirror-theme';
@import 'margin-helpers';

@import 'patterns/check-your-answers';
@import 'patterns/task-list';
@import 'patterns/document-list';
@import 'patterns/success-summary';
@import 'patterns/modal-dialog';
@import 'patterns/buttons';
@import 'header';

.form-control {
  width: 100%;
}

.heading-xlarge {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.markdown-body {
  max-width: 100%;
  white-space: pre-wrap;
}

.metadata dt, .metadata dd {
	display: inline-block;
	font-size: 16px;
}

.metadata dt {
	width: 20%;
}

.metadata dd {
	width: 79%;
}

.copy {
	input[type='text'], textarea, .CodeMirror {
	border: none;
	padding-left: 0;
	padding-right: 0;
	}
	label {
		font-weight: bold;
	}
}

.content-check {
	border-color: $grey-2;
	.error-summary-list a {
		color: $govuk-blue;
	}
}

.content-check-bar {
	position: fixed;
	width: 100%;
	height: 110px;
	left: 0;
	bottom: 0;
	right: 0;
	background: $govuk-blue;
	color: $white;
	a {
		color: $white;
	}
	h3 {
		margin-top: 0;
		margin-bottom: 5px;
	}
	.issues-wrapper {
		max-width: 960px;
		margin: auto;
		padding: 25px 0;
	}
}

.guidance {
	margin-top: 50px;
	padding-top: 25px;
	border-top: 4px solid $yellow;
	section {
		margin-bottom: 25px;
	}
	h2 {
		margin-top: 0;
	}
	p {
		margin-bottom: 5px;
	}
	ul.content-issues {
		li {
			margin: 5px 0;
		}
		li.highlight {
			border-left: 4px solid $red;
			font-weight: bold;
			padding-left: 10px;

		}
	}
}

.column-one-third {
  position: relative;
}

.contextual-guidance {
  background: #fff;
  position: absolute;
  border-top: 5px solid $focus-colour;
  margin-top: 1.2em;
  width: 100%;
  p {
  	margin-bottom: 5px;
  }
}

// Update highlight-within-textarea to be more like Elements

.hwt-container {
  @extend .form-control;
  display: block;

  &.is-focused {
    outline: 3px solid $focus-colour;
  }

  input[type="text"],
  textarea {
    border: none;

    &:focus {
      outline: none;
    }
  }
}

.hwt-backdrop {
  // left: 3px !important;
  // top: 4px !important;
  padding: 5px 4px 4px;
  border: 2px solid transparent;
  margin: -2px 0 0 -2px;
}

.hwt-content mark {
  background-color: transparent;
  box-shadow: inset 0 -4px 0 0 $error-colour;
}

.task-heading-wrapper {
  overflow: hidden;
}

ul.recommendations {
	margin-bottom: 20px;
	list-style-type: disc;
	padding-left: 20px;
	
	li {
		margin-bottom: 5px 0;
	}
}

details {
	margin-bottom: 50px;
}
