// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

// Import GOV.UK elements from /govuk-modules/, this will import the frontend toolkit and some base styles.
// Take a look in /govuk-modules/_govuk-elements.scss to see which files are imported.
@import 'govuk-elements';

@import 'vendor/accessible-autocomplete';
@import 'margin-helpers';

@import 'patterns/check-your-answers';
@import 'patterns/task-list';
@import 'patterns/success-summary';
@import 'patterns/modal-dialog';
@import 'patterns/buttons';
@import 'header';

.form-control {
  width: 100%;
}

.heading-xlarge {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.markdown-body {
  max-width: 100%;
  white-space: pre-wrap;
}

.metadata dt, .metadata dd {
	display: inline-block;
	font-size: 16px;
}

.metadata dt {
	width: 20%;
}

.metadata dd {
	width: 79%;
}
