// Path to assets for use with the file-url function
// in the govuk frontend toolkit's url-helpers partial
$path: "/public/images/";

%contain-floats {
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

// Import GOV.UK Frontend
@import "@govuk-frontend/all/all";

$govuk-gutter-two-thirds: ($govuk-gutter / 3) * 2;
$govuk-gutter-half: ($govuk-gutter / 2);

// Import from node modules
@import 'node_modules/normalize.css/normalize.css';
@import 'node_modules/codemirror/lib/codemirror';
@import 'node_modules/highlight-within-textarea/jquery.highlight-within-textarea';

// Patterns that aren't in Frontend
@import 'patterns/check-your-answers';
@import 'patterns/related-items';

@import 'vendor/accessible-autocomplete';
@import 'vendor/codemirror-theme';
@import 'vendor/elements-panel';
@import 'vendor/elements-form-validation';
//@import 'margin-helpers';

@import 'patterns/check-your-answers';
@import 'patterns/task-list';
@import 'patterns/document-list';
@import 'patterns/success-summary';
@import 'patterns/modal-dialog';
@import 'patterns/buttons';
@import 'header';

.code {
  color: $govuk-text-colour;
  background-color: $govuk-highlight-colour;

  text-shadow: 0 1px $govuk-page-colour;
  font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
  font-size: 14px;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  line-height: 1.5;

  -moz-tab-size: 4;
  -o-tab-size: 4;
  tab-size: 4;

  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;

  border: 1px solid $govuk-border-colour;
  padding: 4px 4px 2px;
}


// Local fixes to GOV.UK frontend

.markdown hr {
  @include govuk-responsive-margin($govuk-spacing-responsive-6, "top");
  @include govuk-responsive-margin($govuk-spacing-responsive-6, "bottom");
}

.govuk-list + .govuk-heading-l,
.govuk-list + .govuk-heading-m,
.govuk-list + .govuk-heading-s,
.govuk-prose-scope ul + h2,
.govuk-prose-scope ul + h3,
.govuk-prose-scope ul + h4,
.govuk-prose-scope pre + h2,
.govuk-prose-scope pre + h3,
.govuk-prose-scope pre + h4 {
  @include govuk-responsive-padding($govuk-spacing-responsive-4, "top");
}

// Take a look at in app/assets/sass/patterns/ to see which files are imported.
// @import 'patterns/check-your-answers';
// @import 'patterns/task-list';

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you

a:visited, .govuk-list a:visited, .govuk-prose-scope ul a:visited, .govuk-prose-scope ol a:visited {
  color: $govuk-link-colour;
}

.empty {
  color: $govuk-grey-1;
}

.danger {
  color: $govuk-error-colour !important;
}

.form-control {
  width: 100%;
}

.govuk-heading-xl {
  margin-top: 1em;
  margin-bottom: 0.5em;
}

.markdown-body {
  max-width: 100%;
  white-space: pre-wrap;
}

.metadata dt, .metadata dd {
  display: inline-block;
  font-size: 16px;
}

.metadata dt {
  width: 20%;
}

.metadata dd {
  width: 79%;
  margin-left: 0;
}

.govuk-o-grid__item {
  position: relative;
}

.govuk-c-button {
  color: $govuk-white !important;
}

.inserts {
  @include govuk-font-regular-19;

  background-color:  $govuk-grey-4;
  border: 2px solid $govuk-black;
  border-bottom: 0;
  padding: 7px;
  margin-top: 5px;
  position: relative;
  z-index: 1;
}

.contextual-guidance {
  @include govuk-responsive-padding($govuk-spacing-responsive-5, "top");
  background: #fff;
  position: absolute;
  border-top: 5px solid $govuk-focus-colour;
  margin-top: 1.5em;
  width: 100%;

  .body-guidance & {
    position: static;
  }
}

// Update highlight-within-textarea to be more like Design System

.hwt-container {
  .is-textarea & {
    @extend .govuk-c-textarea;
  }

  .is-input & {
    padding: 0 4px;
    @extend .govuk-c-input;

    input {
      margin-top: -2px !important;
      margin-left: 1px;
    }
  }

  display: block;

  &.is-focused {
    outline: 3px solid $govuk-focus-colour;
  }

  input[type="text"],
  textarea {
    border: none;

    &:focus {
      outline: none;
    }
  }
}

.hwt-backdrop {
  // left: 3px !important;
  // top: 4px !important;
  .is-textarea & {
    padding: 5px 4px 4px;
  }

  .is-input & {
    padding: 5px;
  }

  border: 2px solid transparent;
  margin: -2px 0 0 -2px;
}

.hwt-content mark {
  background-color: transparent;
  box-shadow: inset 0 -4px 0 0 $govuk-error-colour;
}

.task-heading-wrapper {
  overflow: hidden;
}

ul.recommendations {
  margin-bottom: 20px;
  list-style-type: disc;
  padding-left: 20px;

  li {
    margin-bottom: 5px 0;
  }
}

details {
  margin-bottom: 50px;
}

// tags section

.tag {
  max-width: 380px;
}

.full-wrapper {
  background: #fff;
  padding: $govuk-gutter;
}

.tabs {
  padding-left: 0;
  border-bottom: 1px solid $govuk-border-colour;

  li {
    margin-bottom: -1px;
    display: inline-block;
    margin-right: $govuk-gutter / 3;
  }

  a {
    display: block;
    padding: $govuk-gutter / 2;
  }

  .active a {
    border: 1px solid $govuk-border-colour;
    border-bottom-color: #fff;
    text-decoration: none;

    &:link,
    &:visited {
      color: $govuk-text-colour;
    }
  }
}

.about {
  .inline {
    margin-left: 5px;
  }
  .button-link, .inline {
    display: inline-block;
  }
  label, legend {
    font-weight: bold;
    margin-bottom: 5px;
    &.govuk-c-radios__label {
      font-weight: normal;
      margin-bottom: 0;
    }
  }
  .tags-empty {
    background:  $govuk-panel-colour;
    padding: 20px;
  }
  .arrow {
    color: $govuk-border-colour;
  }
}

.pipe {
  color: $govuk-border-colour;
  display: inline-block;
  padding: 0 5px;
}

.attachment {
  p {
    display: inline-block;
    width: 80%;
    margin: 0 0 5px 0;
  }
  .document-task-action {
    padding: 0;
  }
}

.govuk-o-form-group--error {
  padding-left: 15px;
  border-left: 5px solid #b10e1e;
  .govuk-c-input--error {
    border: 4px solid #b10e1e;
  }
}
