.button-secondary {
  background-color: $grey-1;

  &:hover,
  &:active {
    background-color: $black;
  }
}

.button-tertiary {
  background-color: $grey-3;
  box-shadow: none;

  &:link {
    color: $black;
  }

  &:hover,
  &:active {
    background-color: $grey-2;
  }
}

a.danger {
  color: #B10E1E;
  display: inline-block;
  margin-top: 30px;
}

ul.buttons li {
  margin-bottom: 10px;
}