{% extends "layout_full_width.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<main role="main" class="govuk-o-main-wrapper condensed-view">
  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--full">
      <nav class="app-navigation govuk-clearfix">
        <ul class="app-navigation__list">
          <li>
            <a class="govuk-link" href="#" data-topnav="Overview">Overview</a>
          </li>
          <li class="app-navigation--current-page">
            <a class="govuk-link" href="#" data-topnav="Content data">Content data</a>
          </li>
          <li>
            <a class="govuk-link" href="#" data-topnav="Performance">Performance</a>
          </li>
        </ul>
      </nav>
    </div>

    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      <h1 class="govuk-heading-l">Content on GOV.UK</h1>
    </div>
  </div>

  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--full">

      <div class="filter-section filter-section-customers">

          <form action="" method="get">

            <div class="govuk-o-grid__item govuk-o-grid__item--one-half filter-fields">
              <div class="govuk-form-group">
                <label class="govuk-c-label" for="organisation">
                  Organisation
                </label>
                <input class="govuk-c-input" id="organisation" name="organisation" type="text" value="{{ contentItems.org.url }}">
              </div>
            </div>

            <div class="govuk-o-grid__item govuk-o-grid__item--one-half filter-fields">
              <div class="govuk-form-group">
                <label class="govuk-c-label" for="topic">
                  Topic
                </label>
                <select name="topic" class="govuk-c-select" id="topic">
                  <option value="" selected>All</option>
                  {% for topic in [
                    "government",
                    "transport",
                    "going-and-being-abroad-old",
                    "life-circumstances",
                    "work",
                    "entering-staying-uk",
                    "international",
                    "health-and-social-care",
                    "welfare",
                    "business",
                    "housing-local-and-community",
                    "crime-justice-and-law",
                    "defence",
                    "education",
                    "money",
                    "regional-and-local-government",
                    "environment",
                    "society-and-culture",
                    "childcare-parenting",
                    "corporate-information"
                  ] %}
                    <option value="{{ topic }}">{{ topic | title | replace("-", " ") }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <div class="govuk-o-grid__item govuk-o-grid__item--one-half filter-fields">
              <div class="govuk-form-group">
                <label class="govuk-c-label" for="title">
                  Title
                </label>
                <input class="govuk-c-input" id="title" name="title" type="text" value="{{ contentItems.title }}">
              </div>
            </div>

            <div class="govuk-o-grid__item govuk-o-grid__item--one-half filter-fields">
              <div class="govuk-form-group">
                <label class="govuk-c-label" for="title">
                  Title
                </label>
                <select name="status" class="govuk-c-select" id="status">
                  <option value="" selected>All</option>
                  {% for status in [
                    ""
                  ] %}
                    <option value="{{ status }}">{{ status | title | replace("-", " ") }}</option>
                  {% endfor %}
                </select>
              </div>
            </div>

            <!-- beginning of advanced filters -->

            <details open>
              <summary data-module="summary-text-switch" data-options="more,fewer" data-texttemplate="Show {} filters">Show fewer filters</summary>
              <div class="govuk-o-grid">

                <div class="govuk-o-grid__item govuk-o-grid__item--one-half filter-fields">
                  <div class="govuk-form-group">
                    <label class="govuk-c-label" for="content-type">
                      Document type
                    </label>
                    <select name="content-type" class="govuk-c-select" id="content-type">
                      <option value="">All</option>
                      {% for contentType in contentItems.contentTypes %}
                        <option value="{{ contentType }}"{% if contentType === contentItems.contentType %} selected{% endif %}>{{ contentType | title | replace("_", " ") }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

                <div class="govuk-o-grid__item govuk-o-grid__item--one-half filter-fields">
                  <div class="govuk-form-group">
                    <label class="govuk-c-label" for="editor">
                      Editor
                    </label>
                    <input class="govuk-c-input" id="editor" name="editor" type="text" value="{{ contentItems.editor }}">
                  </div>
                </div>
                    
                <div class="govuk-o-grid__item govuk-o-grid__item--one-half filter-fields">
                  <div class="govuk-form-group">
                    <label class="govuk-c-label" for="published-date-range">
                      Published date 
                    </label>
                    <select name="published-date-range" class="govuk-c-select" id="published-date-range">
                      {% for publishedDateRange in contentItems.publishedDateRanges %}
                        <option value="{{ publishedDateRange }}"{% if publishedDateRange === contentItems.publishedDateRange %} selected{% endif %}>{{ publishedDateRange | title | replace("_", " ") }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                    
                <div class="govuk-o-grid__item govuk-o-grid__item--one-half filter-fields">
                  <div class="govuk-form-group">
                    <label class="govuk-c-label" for="last-updated-date-range">
                      Last updated
                    </label>
                    <select name="last-updated-date-range" class="govuk-c-select" id="last-updated-date-range">
                      {% for lastUpdatedDateRange in contentItems.lastUpdatedDateRanges %}
                        <option value="{{ lastUpdatedDateRange }}"{% if lastUpdatedDateRange === contentItems.lastUpdatedDateRange %} selected{% endif %}>{{ lastUpdatedDateRange | title | replace("_", " ") }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>

              </div> <!-- end of govuk-o-grid -->

            </details>

            <div class="govuk-o-grid__item govuk-o-grid__item--three-quarters">
              <a href="#" class="clear-filters">Clear filters</a>
            </div>

            <div class="govuk-o-grid__item govuk-o-grid__item--one-quarter">
              <button class="govuk-c-button filter-button filter-button-2">Filter</button>
            </div>

            <!-- sorting values for table headers -->
            <input type="hidden" name="sortBy" value="{{ contentItems.sortBy }}" />
            <input type="hidden" name="sortDirection" value="{{ contentItems.sortDirection }}" />
          </form>
        </div>

    </div>

    <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
      <div aria-live="assertive" id="js-search-results-info">
        <div class="result-info">
          <p class="result-count">
            <strong>{{ contentItems.rows | length }}</strong> Content items
          </p>
          <p class="result-range">
            Results per page <a href="#" class="result-range-option">20</a> <strong class="result-range-option">50</strong> <a href="#" class="result-range-option">100</a>
          </p>
        </div>

        {% set downloadLink = {
          'href': '#',
          'text': 'Download this data'
        } %}

        <a class="app-c-download-link" href="{{ downloadLink.href }}">
          <svg class="app-c-download-link__icon"
            aria-hidden="true"
            viewBox="0 0 25 25"
            height="25"
            width="25"
            xmlns="http://www.w3.org/2000/svg">
            <g>
            <path d="M23 5h2v20H5v-2h18V5z"/>
            <path d="M0 0h20v20H0z"/>
            </g>
          </svg>
          {{ downloadLink.text }}
        </a> 
      </div>
    </div>

    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds filter-section table-filters">
      <div class="govuk-o-grid">
        <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
          <div class="govuk-form-group">
            <label class="govuk-c-label" for="column-grouping">
              Show me data metrics for
            </label>
            <select name="column-grouping" class="govuk-c-select" id="column-grouping">
              {% for contentType in contentItems.columnGroupings %}
                <option value="{{ columnGrouping }}"{% if columnGrouping === contentItems.columnGrouping %} selected{% endif %}>{{ columnGrouping | title | replace("_", " ") }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
          <div class="govuk-form-group">
            <label class="govuk-c-label" for="collection-date-range">
              Show me data between
            </label>
            <select name="collection-date-range" class="govuk-c-select" id="collection-date-range">
              {% for contentType in contentItems.collectionDateRanges %}
                <option value="{{ collectionDateRange }}"{% if collectionDateRange === contentItems.collectionDateRange %} selected{% endif %}>{{ collectionDateRange | title | replace("_", " ") }}</option>
              {% endfor %}
            </select>
          </div>
        </div>

        <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
          <button class="govuk-c-button filter-button filter-button-2">Filter</button>
        </div>
      </div> <!-- end of govuk-o-grid -->
      
    </div>
  </div> <!-- end of govuk-o-grid -->

  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--full">
      <div class="table-scroll">
        <div class="table-wrap">
          <table class="register-data-table">
            <thead>
              <tr data-click-action="Sort" data-click-category="Register Table" data-click-events="">
                {% for heading in contentItems.headings %}
                {% if heading.key == 'title' %}
                  {% set headingWidth = 'heading-width-340' %}
                {% elif heading.key == 'timeline_of_unique_pageviews' or heading.key == 'pageviews_per_person' %}
                  {% set headingWidth = 'heading-width-100' %}
                {% else %}
                  {% set headingWidth = null %}
                {% endif %}
                <th{% if headingWidth %} class="{{ headingWidth }}"{% endif %}>
                  <a{% if heading.key == contentItems.sortBy %} class="sort-link {{ contentItems.sortDirection }}"{% endif %} href="{{ heading.url }}">{{ heading.label }}</a>
                </th>
                {% endfor %}
              </tr>
            </thead>
            <tbody id="records-tbody">
              {% for row in contentItems.rows %}
                {% if loop.index < 20 %}
                  <tr>
                    {% for cell in row.cells %}
                      <td>
                        {% if loop.index == 1 %}
                        <a href="https://www.gov.uk{{ row.basePath }}">{{ cell }}</a>
                        <p class="content-item-ctas">
                          <a href="{{ row.viewDataUrl }}">View data</a>
                          <a href="#">Edit page</a>
                        </p>
                        {% elif loop.index == 2 or loop.index == 3 %}
                        {{ cell | title | replace("_", " ") }}
                        {% elif loop.index == 6 %}
                        <img src="/public/images/fake_sparkline_{{ [1,2,3,4] | random }}.png" alt="" width="138" />
                        {% else %}
                        {{ cell }}
                        {% endif %}
                      </td>
                    {% endfor %}
                  </tr>
                {% endif %}
              {% endfor %}
            </tbody>
          </table>
        </div>

        <!-- fake table use for fixing the left-most column -->
        <table class="register-data-table clone">
          <thead>
            <tr data-click-action="Sort" data-click-category="Register Table" data-click-events="">
              {% for heading in contentItems.headings %}
              {% if heading.key == 'title' %}
                {% set headingWidth = 'heading-width-340' %}
              {% elif heading.key == 'timeline_of_unique_pageviews' or heading.key == 'pageviews_per_person' %}
                {% set headingWidth = 'heading-width-100' %}
              {% else %}
                {% set headingWidth = null %}
              {% endif %}
                <th class="{% if headingWidth %}{{ headingWidth }}{% endif %}{% if loop.index == 1 %} fixed-side{% endif %}">
                <a{% if heading.key == contentItems.sortBy %} class="sort-link {{ contentItems.sortDirection }}"{% endif %} href="{{ heading.url }}">{{ heading.label }}</a>
              </th>
              {% endfor %}
            </tr>
          </thead>
          <tbody id="records-tbody">
            {% for row in contentItems.rows %}
              {% if loop.index < 20 %}
                <tr>
                  {% for cell in row.cells %}
                    <td{% if loop.index == 1 %} class="fixed-side"{% endif %}>
                      {% if loop.index == 1 %}
                      <a href="https://www.gov.uk{{ row.basePath }}">{{ cell }}</a>
                      <p class="content-item-ctas">
                        <a href="{{ row.viewDataUrl }}">View data</a>
                        <a href="#">Edit page</a>
                      </p>
                      {% elif loop.index == 2 or loop.index == 3 %}
                      {{ cell | title | replace("_", " ") }}
                      {% elif loop.index == 6 %}
                      <img src="/public/images/fake_sparkline_{{ [1,2,3,4] | random }}.png" alt="" width="138" />
                      {% else %}
                      {{ cell }}
                      {% endif %}
                    </td>
                  {% endfor %}
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </div><!-- end of govuk-o-grid -->
</main>
{% endblock %}
