{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<main role="main" class="govuk-o-main-wrapper">
  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      <h1 class="govuk-heading-l">Existing GDS patterns</h1>
      <p class="govuk-body-l">Lead paragraph example.</p>
    </div>
    <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
			<aside class="heading-extra">
				<ul class="featured-links govuk-body-s">
					<li><a href="#">View live URL</a></li>
					<li><a href="#">Edit content</a></li>
					<li><a href="#">Item in publisher</a></li>
				</ul>
			</aside> 
    </div>
  </div>
</main>
{% endblock %}
