{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}
<main role="main" class="govuk-o-main-wrapper">
  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      <h1 class="govuk-heading-l">Existing GDS patterns</h1>
      <p class="govuk-body-l">Lead paragraph example.</p>
			<div class="app-c-publisher-metadata">
				<div class="app-c-published-dates ">
					<a href="/government/organisations/ministry-of-defence">Ministry of Defence</a>
					<br>
					Detailed Guide
			</div>
      <div class="app-c-publisher-metadata__other">
        <dl data-module="track-click">
            <dt class="app-c-publisher-metadata__term">First published: </dt>
            <dd class="app-c-publisher-metadata__definition">4 May 2017</dd>
            <dt class="app-c-publisher-metadata__term">Last published: </dt>
            <dd class="app-c-publisher-metadata__definition">26 April 2018</dd>
        </dl>
      </div>
  </div>
    </div>
    <div class="govuk-o-grid__item govuk-o-grid__item--one-third">
			<aside class="heading-extra">
				<ul class="featured-links govuk-body-s">
					<li><a href="#">View live URL</a></li>
					<li><a href="#">Edit content</a></li>
					<li><a href="#">Item in publisher</a></li>
				</ul>
			</aside> 
    </div>
    <div class="govuk-o-grid__item govuk-o-grid__item--full">
			<nav class="activity-navigation">
				<ul>
					<li><a class="current" href="#">Overview</a></li>
					<li><a href="#">Analytics</a></li>
				</ul>
			</nav>
		</div>

		<div aria-live="assertive" id="js-search-results-info">
			<p class="result-info">
				Showing <span class="result-count">1 - 50</span> of <strong>1,599</strong> items
			</p>
		</div>
  </div>
</main>
{% endblock %}
