{% extends "layout.html" %}
{% block page_title %}Flash notices{% endblock %}

{% block content %}
<main id="content" role="main">
  <h1 class="heading-xlarge">
    Buttons
  </h1>

  <h2 class="heading-large">Buttons from GOV.UK Elements</h2>
  <p>
    <a href="#" class="button">Standard button</a>
  </p>
  <p>
    <a href="#" class="button button-start">Start now button</a>
  </p>

  <h2 class="heading-large">Custom buttons</h2>
  <p>
    <a href="#" class="button button-secondary">Grey secondary button</a>
  </p>

  <p>
    <a href="#" class="button button-tertiary">Grey secondary button</a>
  </p>
</main>
{% endblock %}
