{% extends "layout.html" %}
{% block page_title %}Organisation autocomplete{% endblock %}

{% block content %}
<main id="content" role="main">
  <h1 class="heading-xlarge">
    Organisation autocomplete
  </h1>

  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="lede">
        An autocomplete for UK Government organisations based on work by <a href="https://github.com/frankieroberto/govuk-government-organisations-autocomplete">Frankie Roberto</a>.
      </p>
      <form method="get" action="/examples">
        <div class="form-group">
          <label for="government-organisations">Organisation</label>
          <select id="government-organisations" name="organisation">
            {% include "../includes/organisation-select-options.html" %}
          </select>
        </div>
      </form>
    </div>
</main>
{% endblock %}

{% block page_scripts %}
<script>
  govukGovernmentOrganisationsAutocomplete({
    selectElement: document.getElementById('government-organisations'),
    showAllValues: false,
    minLength: 2,
    defaultValue: ''
  })
</script>
{% endblock %}
