{% extends "layout.html" %}
{% block page_title %}Topics autocomplete{% endblock %}

{% block content %}
<main role="main" class="govuk-o-main-wrapper">
  <h1 class="govuk-heading-xl">
    Topics autocomplete
  </h1>

  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      <p class="govuk-body-l">
        An autocomplete for taxons.
      </p>
      <form method="get" action="/examples">
        <div class="govuk-!-mb-r6">
          <label class="govuk-c-label" for="topics">Topic</label>
          <select id="topics" name="topic">
            {% include "../includes/topics-select-options.html" %}
          </select>
        </div>
      </form>
    </div>
</main>
{% endblock %}

{% block page_scripts %}
<script>
  govukGovernmentOrganisationsAutocomplete({
    selectElement: document.getElementById('topics'),
    showAllValues: true,
    minLength: 2,
    defaultValue: ''
  })
</script>
{% endblock %}
