{% extends "layout.html" %}
{% block page_title %}About content{% endblock %}

{% block content %}

<a href="{{ urlPrefix }}/document-tasks" class="govuk-c-back-link">Back</a>
<main role="main" class="govuk-o-main-wrapper">

  {% if data[prefix + 'show-errors'] and about_content_errors and about_content_errors.length > 0 %}
  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
        <h3 class="govuk-heading-m error-summary-heading" id="error-summary-heading-example-1">
          You need to complete the following sections before you can send to review:
        </h3>
        <ul class="error-summary-list">
          {% for error in about_content_errors %}
          <li><a href="{{ urlPrefix }}/{{ error.page }}#{{ error.field }}">{{ error.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

  <form action="{{ urlPrefix }}/document-tasks" method="post" class="form about" data-module="slug-from-title">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h1 class="form-title govuk-heading-xl govuk-!-mb-r9">
          About this content
        </h1>
      </div>
    </div>

    {% if not data[prefix + 'specialist'] %}
    <div class="govuk-o-grid" id="tag-on-govuk">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h2 class="govuk-heading-l govuk-!-mt-r4">Tag on GOV.UK</h2>
        <p class="govuk-body">Tags help position this content in <a href="">GOV.UK</a>, they make it easier to find by relating it to existing content that is similar to it.</p>
      </div>
    </div>

    <div class="govuk-o-grid govuk-!-mb-r7" data-module="select-tags" data-prefix="{{ prefix }}">
      {% if data[prefix + 'tag-count'] %}
        {% set tag_count = (data[prefix + 'tag-count'] | int) %}
      {% else %}
        {% set tag_count = 0 %}
      {% endif %}
      <input type="hidden" name="{{ prefix }}tag-count" value="{{ tag_count }}" class="js-tag-count">
      <div class="govuk-o-grid__item govuk-o-grid__item--full">
        <div class="js-none-selected" {% if (tag_count > 0) %}style="display: none"{% endif %}>
          <h3 class="govuk-heading-s">Selected tags</h3>
          <p class="govuk-body empty govuk-!-mb-r6">You haven't selected any tags yet.</p>
        </div>
        <table class="govuk-c-table js-selected-tags-table" {% if (tag_count == 0) %}style="display: none"{% endif %}>
          <caption class="govuk-c-table__caption">Selected tags</caption>
          <tbody class="govuk-c-table__body">
            <tr class="govuk-c-table__row js-selected-tag-row" style="display: none">
              <td class="govuk-c-table__cell tag js-tag"></td>
              <td class="govuk-c-table__cell govuk-c-table__cell--numeric">
                <a href="#">View in GOV.UK</a>
                <input type="hidden" value="" name="{{ prefix }}selected-tag">
              </td>
              <td class="govuk-c-table__cell govuk-c-table__cell--numeric"><a href="" class="js-remove-tag">Remove tag</a></td>
            </tr>
            {% for i in range(0, tag_count) %}
              <tr class="govuk-c-table__row">
                <td class="govuk-c-table__cell tag">{{ data[prefix + 'selected-tag-' + (i + 1)] }}</td>
                <td class="govuk-c-table__cell govuk-c-table__cell--numeric">
                  <a href="#">View in GOV.UK</a>
                  <input type="hidden" value="{{ data[prefix + 'selected-tag-' + (i + 1)] }}" name="{{ prefix }}selected-tag-{{ (i + 1) }}">
                </td>
                <td class="govuk-c-table__cell govuk-c-table__cell--numeric"><a href="" class="js-remove-tag">Remove tag</a></td>
              </tr>
            {% endfor %}
          </tbody>
        </table>

        <table class="govuk-c-table js-suggested-tags-table">
          <caption class="govuk-c-table__caption">Suggested tags</caption>
          <tbody class="govuk-c-table__body">
            {% set suggested_tags = [
                {
                  name: 'Transport > Rail > HS2 > HS2 stakeholder and community engagement',
                  title_contains: 'hs2'
                },
                {
                  name: 'Transport > Rail > HS2 > HS2 phase one',
                  title_contains: 'hs2'
                },
                {
                  name: 'Transport > Driving and road transport > Autonomous road vehicles',
                  title_contains: 'automated'
                },
                {
                  name: 'Transport > Freight and cargo > Transport of dangerous goods > Safe transport of dangerous goods > Safe transport of dangerous goods by road',
                  title_contains: 'dangerous'
                },
                {
                  name: 'Transport > Freight and cargo > Transport of dangerous goods > Dangerous goods classification',
                  title_contains: 'dangerous'
                },
                {
                  name: 'Transport > Road infrastructure > Road improvement and investment',
                  title_contains: 'highways'
                },
                {
                  name: 'Transport > Road infrastructure > Road maintenance',
                  title_contains: 'highways'
                },
                {
                  name: 'Defence and armed forces > Support services for military and defence personnel and their families > Welfare and support',
                  title_contains: 'mental'
                },
                {
                  name: 'Government > Cyber security',
                  title_contains: 'cyber'
                },
                {
                  name: 'Defence and armed forces',
                  title_contains: 'cyber'
                },
                {
                  name: 'Work > Pensions and ageing society > Automatic enrolment in workplace pensions',
                  title_contains: 'enrolment'
                },
                {
                  name: 'Work > Working, jobs and pensions > Workplace and personal pensions',
                  title_contains: 'enrolment'
                },
                {
                  name: 'Government > Government funding programmes',
                  title_contains: 'employment'
                },
                {
                  name: 'Work > Work and disabled people',
                  title_contains: 'employment'
                }
              ]
            %}

            {% for tag in suggested_tags %}
              {% if tag.title_contains in (data[prefix + 'title'] | lower) %}
                <tr class="govuk-c-table__row">
                  <td class="govuk-c-table__cell tag">{{ tag.name }}</td>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric"><a href="#">View in GOV.UK</a></td>
                  <td class="govuk-c-table__cell govuk-c-table__cell--numeric"><a href="" class="js-select-tag">Select tag</a></td>
                </tr>
              {% endif %}
            {% endfor %}
          </tbody>
        </table>
      </div>
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <div class="{% if data[prefix + 'show-errors'] and field_errors['tag-on-govuk'] %}govuk-o-form-group--error{% endif %}">
          <label class="govuk-c-label" for="tag-search">Search for a tag</label>
          {% if data[prefix + 'show-errors'] and field_errors['tag-on-govuk'] %}<span class="govuk-c-error-message">{{ field_errors['tag-on-govuk'] }}</span>{% endif %}
          <select id="tag-search" name="{{ prefix }}tag-search">
            {% include "includes/topics-select-options.html" %}
          </select>
        </div>
      </div>
      <div class="govuk-o-grid__item govuk-o-grid__item--one-third {% if data[prefix + 'show-errors'] and field_errors['tag-on-govuk'] %}govuk-!-mt-r9{% else %}govuk-!-mt-r7{% endif %}">
        <a href="" class="inline button button-link govuk-body js-add-tag">Select tag</a>
      </div>
    </div>
    {% endif %}

    {% if not data[prefix + 'specialist'] %}
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <div class="govuk-!-mb-r6 is-input">
          <h2 class="govuk-heading-l">Associations</h2>

          <div class="{% if data[prefix + 'show-errors'] and field_errors['lead-organisation'] %}govuk-o-form-group--error{% endif %}">
            <label class="govuk-c-label" for="lead-organisation">Lead organisation</label>
            {% if data[prefix + 'show-errors'] and field_errors['lead-organisation'] %}<span class="govuk-c-error-message">{{ field_errors['lead-organisation'] }}</span>{% endif %}
            <select id="lead-organisation" name="{{ prefix }}lead-organisation">
              {% include "includes/organisation-select-options.html" %}
            </select>
          </div>
          <div class="govuk-!-mt-r2 govuk-!-mb-r1">
            <a href="#" class="button button-link govuk-body">Add another leading organisation</a>
          </div>

          <label class="govuk-c-label" for="supporting-organisation">Supporting organisation</label>
          <select id="supporting-organisation" name="{{ prefix }}supporting-organisation">
            {% include "includes/organisation-select-options.html" %}
          </select>
          <div class="govuk-!-mt-r2 govuk-!-mb-r1">
            <a href="#" class="button button-link govuk-body">Add another supporting organisation</a>
          </div>

          <label class="govuk-c-label" for="minister">Minister</label>
          <input type="text" name="{{ prefix }}minister" class="govuk-c-input" id="minister" value="{{data[prefix + 'minister']}}">

          <label class="govuk-c-label" for="topical-event">Topical events</label>
          <input type="text" name="{{ prefix }}topical-event" class="govuk-c-input" id="topical-event" value="{{data[prefix + 'topical-event']}}">

          <label class="govuk-c-label" for="world-locations">World locations</label>
          <input type="text" name="{{ prefix }}world-location" class="govuk-c-input" id="world-locations" value="{{data[prefix + 'world-location']}}">

        </div>

        <div class="govuk-!-mb-r6 is-input">

          {% set documentTypes = [
            {
              name: 'Case study',
              text: '<p class="govuk-body">Use for real examples that help users understand someone’s experience of a process or an important aspect of government policy.</p>',
              more: '<p class="govuk-body">Do not use to promote your organisation or if it doesn’t relate to something covered on GOV.UK.</p>' + 
                    '<p class="govuk-body">Read the <a href="https://www.gov.uk/guidance/content-design/content-types#case-study">case study guidance</a> in full.</p>',
              intent: ['Tell users about something']
            },
            {
              name: 'Consultation',
              text: '<p class="govuk-body">Use for documents requiring collective agreement across government, including calls for evidence.</p>',
              intent: ['Help users to do something']
            },
            {
              name: 'Detailed guide',
              text: '<p class="govuk-body">Use to tell users the steps they need to take to complete a clearly defined task. They are usually aimed at specialist or professional audiences.</p>',
              more: '<p class="govuk-body">Read the <a href="https://www.gov.uk/guidance/content-design/content-types#detailed-guide">detailed guides guidance</a> in full.</p>',
              intent: ['Help users to do something']
            },
            {
              name: 'Document collection',
              text: '<p class="govuk-body">Use for grouping closely related documents on a single page for a specific audience.</p>',
              more: '<p class="govuk-body">Read the <a href="https://www.gov.uk/guidance/content-design/content-types#detailed-guide">document collection guidance</a> in full.</p>',
              intent: ['Make something available']
            },
            {
              name: 'News article',
              text: '<p class="govuk-body">Use for news stories, press releases, and responses to media coverage including official statements.',
              more: '<p class="govuk-body">Do not use to promote the publication of other content.</p>' +
                    '<p class="govuk-body">Read the <a href="https://www.gov.uk/guidance/content-design/content-types#government-response">news article guidance</a> in full.</p>',
              intent: ['Tell users about something']
            },
            {
              name: 'Publication',
              text: '<p class="govuk-body">Use for stand-alone government documents, issued on a specified date and usually not updated once published. This includes white papers, strategy documents, and reports.</p>',
              more: '<p class="govuk-body">Read the <a href="https://www.gov.uk/guidance/content-design/content-types#publications">publication guidance</a> in full.</p>',
              intent: ['Help users to do something', 'Tell users about something', 'Make something available']
            },
            {
              name: 'Speech',
              text: '<p class="govuk-body">Use for transcripts or speaking notes for public speeches by ministers or other named spokespeople, or for statements to Parliament, or bylined articles.</p>',
              more: '<p class="govuk-body">Do not publish a speech or statement unless you expect a high level of public interest in everything that was said. It’s better to publish a press release or government response for quotes or a summary.</p>' +
                    '<p class="govuk-body">Read the <a href="https://www.gov.uk/guidance/content-design/content-types#speech">speech guidance</a> in full.</p>',
              intent: ['Tell users about something']
            }
          ] %}

          {% if data[prefix + 'document-type'] %}
            {% set chosenDocumentType = data[prefix + 'document-type'] %}
          {% else %}
            {% set chosenDocumentType = data['inferred-document-type'] %}
          {% endif %}

          <div class="govuk-c-radios {% if data[prefix + 'show-errors'] and field_errors['document-type'] %}govuk-o-form-group--error{% endif %}">
            <div class="govuk-o-form-group">
              <fieldset class="govuk-c-fieldset" id="document-type">
                <legend class="govuk-c-fieldset__legend govuk-visually-hidden">
                  <h2 class="govuk-heading-l">Format</h2>
                  {% if data[prefix + 'show-errors'] and field_errors['document-type'] %}<span class="govuk-c-error-message">{{ field_errors['document-type'] }}</span>{% endif %}
                </legend>

                <p class="govuk-body">The format for this content is <em class="govuk-!-w-bold">{% if data[prefix + 'document-type'] %}{{ data[prefix + 'document-type'] }}{% else %}{{ data['inferred-document-type'] }}{% endif %}</em>.</p>

                <div class="multiple-choice govuk-c-radios__item">
                  <input required id="correct-document-type-yes" type="radio" name="{{ prefix }}correct-document-type" value="yes" class="govuk-c-radios__input" {{ checked(prefix + "correct-document-type", "yes") }}>
                  <label for="correct-document-type-yes" class="govuk-c-label govuk-c-radios__label">
                    Yes, this is correct
                  </label>
                </div>
                <div class="multiple-choice govuk-c-radios__item" data-target="alt-document-types">
                  <input required id="correct-document-type-no" type="radio" name="{{ prefix }}correct-document-type" value="no" class="govuk-c-radios__input" {{ checked(prefix + "correct-document-type", "no") }}>
                  <label for="correct-document-type-no" class="govuk-c-label govuk-c-radios__label">
                    No, I need to choose another format
                  </label>
                </div>

                <div class="panel panel-border-wide govuk-!-mt-r4 js-hidden" id="alt-document-types">
                  <div class="govuk-c-radios">
                    <div class="govuk-o-form-group">
                      <fieldset class="govuk-c-fieldset">
                        <legend class="govuk-c-fieldset__legend govuk-visually-hidden">
                          Alternative formats
                        </legend>
                        {% for field in documentTypes %}
                          {% if field.name != chosenDocumentType %}
                            <div class="multiple-choice govuk-c-radios__item" data-target="document-type-part-{{ loop.index }}-extra">
                              <input id="document-type-part-{{ loop.index }}" type="radio" name="{{ prefix }}document-type" value="{{ field.name }}" class="govuk-c-radios__input">
                              <label for="document-type-part-{{ loop.index }}" class="govuk-c-label govuk-c-radios__label">
                                <span class="govuk-c-label--bold">{{ field.name }}</span>
                                {{ field.text | safe }}

                                {% if field.more %}
                                <div class="panel panel-border-wide govuk-!-mt-r4 govuk-!-mb-r4 js-hidden" id="document-type-part-{{ loop.index }}-extra">
                                  {{ field.more | safe }}
                                </div>
                                {% endif %}
                              </label>
                            </div>
                          {% endif %}
                        {% endfor %}
                      </fieldset>
                    </div>
                  </div>
                </div>

              </fieldset>
            </div>
          </div>
        </div>
      </div>
    </div>
    {% endif %}
    <div class="govuk-!-mb-r6">
      <input type="submit" class="govuk-c-button" value="Save">
    </div>

    <div class="govuk-!-mb-r6">
      <a href="{{ urlPrefix }}/document-tasks" class="button button-link govuk-body">Discard changes</a>
    </div>
  </form>
</main>
{% endblock %}

{% block page_scripts %}
<script>
  $('#lead-organisation').val('{{ data[prefix + 'lead-organisation'] }}');
  $('#supporting-organisation').val('{{ data[prefix + 'supporting-organisation'] }}');

  govukGovernmentOrganisationsAutocomplete({
    selectElement: document.getElementById('lead-organisation'),
    showAllValues: true,
    autoselect: false,
    minLength: 2,
    defaultValue: '{{ data[prefix + 'lead-organisation'] }}'
  })

  govukGovernmentOrganisationsAutocomplete({
    selectElement: document.getElementById('supporting-organisation'),
    showAllValues: true,
    autoselect: false,
    minLength: 2,
    defaultValue: '{{ data[prefix + 'supporting-organisation'] }}'
  })

  accessibleAutocomplete.enhanceSelectElement({
    selectElement: document.getElementById('tag-search'),
    id: 'tag-search',
    showAllValues: true,
    minLength: 2,
    defaultValue: ''
  })
</script>
{% endblock %}
