{% extends "layout.html" %}
{% block page_title %}Content settings{% endblock %}

{% block content %}

<a href="{{ urlPrefix }}/document-tasks" class="govuk-c-back-link">Back</a>
<main role="main" class="govuk-o-main-wrapper">

  {% if data[prefix + 'show-errors'] and about_content_errors and about_content_errors.length > 0 %}
  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      <div class="error-summary" role="alert" aria-labelledby="error-summary-heading-example-1" tabindex="-1">
        <h3 class="govuk-heading-m error-summary-heading" id="error-summary-heading-example-1">
          You need to complete the following sections before you can send to review:
        </h3>
        <ul class="error-summary-list">
          {% for error in about_content_errors %}
          <li><a href="{{ urlPrefix }}/{{ error.page }}#{{ error.field }}">{{ error.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endif %}

  <form action="{{ urlPrefix }}/document-tasks" method="post" class="form about" data-module="slug-from-title">
    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h1 class="form-title govuk-heading-xl govuk-!-mb-r9">
          Content settings
        </h1>
      </div>
    </div>

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <h2 class="govuk-heading-l">
          Monitoring
        </h2>
        <div class="govuk-c-radios">
          <fieldset class="govuk-c-fieldset">
            <legend class="govuk-c-fieldset__legend">
              Review reminder
            </legend>
            {% set fields = [
                {
                  name: 'In one month'
                },
                {
                  name: 'In 6 months'
                },
                {
                  name: 'In 11 months'
                },
                {
                  name: 'Other',
                  more: '<label class="govuk-c-label" for="review-frequency-other">Enter a date to get a reminder to review</label>
                  <span class="govuk-c-label__hint govuk-body">For example, 5 June 2019</span>'
                },
                {
                  name: 'I don’t need to review this document'
                }
              ]
            %}
            {% for field in fields %}
              <div class="govuk-c-radios__item" data-target="radio-part-{{ loop.index }}-extra">
                <input id="radio-part-{{ loop.index }}" type="radio" name="{{ prefix }}review-frequency" value="{{ field.name }}" class="govuk-c-radios__input" {{ checked(prefix + "review-frequency", field.name) }}>
                <label for="radio-part-{{ loop.index }}" class="govuk-c-label govuk-c-radios__label">
                  {{ field.name }}
                  {% if field.more %}
                  <div class="panel panel-border-wide js-hidden govuk-!-mt-r4" id="radio-part-{{ loop.index }}-extra">
                    {{ field.more | safe }}
                    {% if field.name == 'Other' %}
                      <input type="text" name="{{ prefix }}review-frequency-other" class="govuk-c-input govuk-!-width-one-half" id="review-frequency-other" value="{{ data[prefix + 'review-frequency-other']}}">
                    {% endif %}
                  </div>
                  {% endif %}
                </label>
              </div>
            {% endfor %}
          </fieldset>
        </div>
        <div class="govuk-!-mb-r6 is-input">
          <div class="govuk-c-radios">
            <div class="govuk-o-form-group">
              <fieldset class="govuk-c-fieldset">
                <legend class="govuk-c-fieldset__legend">
                  Expected traffic
                </legend>
                <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="expected-audience-1" name="{{ prefix }}expected-audience" type="radio" value="Immediate interest" {{ checked(prefix + "expected-audience", "Immediate interest") }}>
                <label class="govuk-c-label govuk-c-radios__label" for="expected-audience-1">
                  <span class="govuk-c-label--bold">Immediate interest</span>
                  <p class="govuk-body">You expect traffic to decline after a few days</p>
                </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="expected-audience-2" name="{{ prefix }}expected-audience" type="radio" value="Defined interest" {{ checked(prefix + "expected-audience", "Defined interest") }}>
                <label class="govuk-c-label govuk-c-radios__label" for="expected-audience-2">
                  <span class="govuk-c-label--bold">Defined interest</span>
                  <p class="govuk-body">You expect traffic to decline after a known period</p>
                </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="expected-audience-3" name="{{ prefix }}expected-audience" type="radio" value="Constant interest" {{ checked(prefix + "expected-audience", "Constant interest") }}>
                <label class="govuk-c-label govuk-c-radios__label" for="expected-audience-3">
                  <span class="govuk-c-label--bold">Constant interest</span>
                  <p class="govuk-body">You expect continuous traffic</p>
                </label>
              </div>
              <div class="govuk-c-radios__item">
                <input class="govuk-c-radios__input" id="expected-audience-4" name="{{ prefix }}expected-audience" type="radio" value="Repeat interest" {{ checked(prefix + "expected-audience", "Repeat interest") }}>
                <label class="govuk-c-label govuk-c-radios__label" for="expected-audience-4">
                  <span class="govuk-c-label--bold">Repeat interest</span>
                  <p class="govuk-body">You expect traffic to rise for a regular event</p>
                </label>
              </div>
            </fieldset>
            </div>
          </div>

          {% if not data[prefix + 'specialist'] %}
            <label class="govuk-c-label" for="expert">
              Subject matter expert
            </label>
            <span class="govuk-c-label__hint">Policy person or team who must check the accuracy of this content</span>
            <input type="text" name="{{ prefix }}expert" class="govuk-c-input" id="expert" value="{{data[prefix + 'expert']}}">
          {% endif %}

          {% if prefix != 'draft-' %}
          <div class="govuk-c-radios {% if data[prefix + 'show-errors'] and field_errors['published-before'] %}govuk-o-form-group--error{% endif %}">
            <fieldset class="govuk-c-fieldset" id="published-before">
              <legend class="govuk-c-fieldset__legend">
                Has this content been published before?
                {% if data[prefix + 'show-errors'] and field_errors['published-before'] %}<span class="govuk-c-error-message">{{ field_errors['published-before'] }}</span>{% endif %}
              </legend>
              {% set fields = [
                  {
                    name: 'No, this content is new'
                  },
                  {
                    name: 'Yes, it’s been published on another website',
                    more: '<label class="govuk-c-label" for="published-before-date">Enter its previous publication date</label>
                    <span class="govuk-c-label__hint govuk-body">For example, 5 June 2019</span>'
                  }
                ]
              %}
              {% for field in fields %}
                <div class="govuk-c-radios__item" data-target="before-part-{{ loop.index }}-extra">
                  <input id="before-part-{{ loop.index }}" type="radio" name="{{ prefix }}published-before" value="{{ field.name }}" class="govuk-c-radios__input" {{ checked("published-before", field.name) }}>
                  <label for="before-part-{{ loop.index }}" class="govuk-c-label govuk-c-radios__label">
                    {{ field.name }}
                    {% if field.more %}
                    <div class="panel panel-border-wide js-hidden govuk-!-mt-r4" id="before-part-{{ loop.index }}-extra">
                      {{ field.more | safe }}
                      {% if field.name == 'Yes, it’s been published on another website' %}
                        <input type="text" name="{{ prefix }}published-before-date" class="govuk-c-input govuk-!-width-one-half" id="published-before-date" value="{{ data[prefix + 'published-before-date']}}">
                      {% endif %}
                    </div>
                    {% endif %}
                  </label>
                </div>
              {% endfor %}
            </fieldset>
          </div>
          {% endif %}
        </div>

        <div class="govuk-!-mb-r6 is-input">

          {% set documentTypes = [
            {
              name: 'Case study',
              text: '<p class="govuk-body">Use for real examples that help users understand someone’s experience of a process or an important aspect of government policy.</p>',
              more: '<p class="govuk-body">Do not use to promote your organisation or if it doesn’t relate to something covered on GOV.UK.</p>' + 
                    '<p class="govuk-body">Read the <a href="https://www.gov.uk/guidance/content-design/content-types#case-study">case study guidance</a> in full.</p>',
              intent: ['Tell users about something']
            },
            {
              name: 'Consultation',
              text: '<p class="govuk-body">Use for documents requiring collective agreement across government, including calls for evidence.</p>',
              intent: ['Help users to do something']
            },
            {
              name: 'Detailed guide',
              text: '<p class="govuk-body">Use to tell users the steps they need to take to complete a clearly defined task. They are usually aimed at specialist or professional audiences.</p>',
              more: '<p class="govuk-body">Read the <a href="https://www.gov.uk/guidance/content-design/content-types#detailed-guide">detailed guides guidance</a> in full.</p>',
              intent: ['Help users to do something']
            },
            {
              name: 'Document collection',
              text: '<p class="govuk-body">Use for grouping closely related documents on a single page for a specific audience.</p>',
              more: '<p class="govuk-body">Read the <a href="https://www.gov.uk/guidance/content-design/content-types#detailed-guide">document collection guidance</a> in full.</p>',
              intent: ['Make something available']
            },
            {
              name: 'News article',
              text: '<p class="govuk-body">Use for news stories, press releases, and responses to media coverage including official statements.',
              more: '<p class="govuk-body">Do not use to promote the publication of other content.</p>' +
                    '<p class="govuk-body">Read the <a href="https://www.gov.uk/guidance/content-design/content-types#government-response">news article guidance</a> in full.</p>',
              intent: ['Tell users about something']
            },
            {
              name: 'Publication',
              text: '<p class="govuk-body">Use for stand-alone government documents, issued on a specified date and usually not updated once published. This includes white papers, strategy documents, and reports.</p>',
              more: '<p class="govuk-body">Read the <a href="https://www.gov.uk/guidance/content-design/content-types#publications">publication guidance</a> in full.</p>',
              intent: ['Help users to do something', 'Tell users about something', 'Make something available']
            },
            {
              name: 'Speech',
              text: '<p class="govuk-body">Use for transcripts or speaking notes for public speeches by ministers or other named spokespeople, or for statements to Parliament, or bylined articles.</p>',
              more: '<p class="govuk-body">Do not publish a speech or statement unless you expect a high level of public interest in everything that was said. It’s better to publish a press release or government response for quotes or a summary.</p>' +
                    '<p class="govuk-body">Read the <a href="https://www.gov.uk/guidance/content-design/content-types#speech">speech guidance</a> in full.</p>',
              intent: ['Tell users about something']
            }
          ] %}

          {% if data[prefix + 'document-type'] %}
            {% set chosenDocumentType = data[prefix + 'document-type'] %}
          {% else %}
            {% set chosenDocumentType = data['inferred-document-type'] %}
          {% endif %}

          <div class="govuk-c-radios">
            <div class="govuk-o-form-group">
              <fieldset class="govuk-c-fieldset">
                <legend class="govuk-c-fieldset__legend govuk-visually-hidden">
                  <h2 class="govuk-heading-l">Format</h2>
                </legend>

                {% if data[prefix + 'document-type'] %}
                  <p class="govuk-body">The format for this content is <em class="govuk-!-w-bold">{{ data[prefix + 'document-type'] }}</em>.</p>
                {% else %}
                  <p class="govuk-body">Based on the information you gave us, the format for this content should be <em class="govuk-!-w-bold">{{ data['inferred-document-type'] }}</em>.</p>
                {% endif %}

                <div class="multiple-choice govuk-c-radios__item">
                  <input required id="correct-document-type-yes" type="radio" name="{{ prefix }}correct-document-type" value="yes" class="govuk-c-radios__input" {{ checked(prefix + "correct-document-type", "yes") }}>
                  <label for="correct-document-type-yes" class="govuk-c-label govuk-c-radios__label">
                    Yes, this is correct
                  </label>
                </div>
                <div class="multiple-choice govuk-c-radios__item" data-target="alt-document-types">
                  <input required id="correct-document-type-no" type="radio" name="{{ prefix }}correct-document-type" value="no" class="govuk-c-radios__input" {{ checked(prefix + "correct-document-type", "no") }}>
                  <label for="correct-document-type-no" class="govuk-c-label govuk-c-radios__label">
                    No, I need to choose another format
                  </label>
                </div>

                <div class="panel panel-border-wide govuk-!-mt-r4 js-hidden" id="alt-document-types">
                  <div class="govuk-c-radios">
                    <div class="govuk-o-form-group">
                      <fieldset class="govuk-c-fieldset">
                        <legend class="govuk-c-fieldset__legend govuk-visually-hidden">
                          Alternative formats
                        </legend>
                        {% for field in documentTypes %}
                          {% if field.name != chosenDocumentType %}
                            <div class="multiple-choice govuk-c-radios__item" data-target="document-type-part-{{ loop.index }}-extra">
                              <input id="document-type-part-{{ loop.index }}" type="radio" name="{{ prefix }}document-type" value="{{ field.name }}" class="govuk-c-radios__input">
                              <label for="document-type-part-{{ loop.index }}" class="govuk-c-label govuk-c-radios__label">
                                <span class="govuk-c-label--bold">{{ field.name }}</span>
                                {{ field.text | safe }}

                                {% if field.more %}
                                <div class="panel panel-border-wide govuk-!-mt-r4 govuk-!-mb-r4 js-hidden" id="document-type-part-{{ loop.index }}-extra">
                                  {{ field.more | safe }}
                                </div>
                                {% endif %}
                              </label>
                            </div>
                          {% endif %}
                        {% endfor %}
                      </fieldset>
                    </div>
                  </div>
                </div>

              </fieldset>
            </div>
          </div>
        </div>

        <div class="govuk-o-form-group">
          <fieldset class="govuk-c-fieldset">
            <legend class="govuk-c-fieldset__legend">
              <h2 class="govuk-heading-l">Scheduling</h2>
              <span class="govuk-c-fieldset__hint">For example, 9:30am 31 3 2018</span>
            </legend>
            <div class="govuk-c-date-input" id="dob">
              <div class="govuk-c-date-input__item govuk-c-date-input__item--day" style="width: 100px; margin-right: 40px">
                <div class="govuk-o-form-group">
                  <label class="govuk-c-label govuk-c-date-input__label" for="schedule-time">
                    Time
                  </label>
                  <input class="govuk-c-input govuk-c-date-input__input" id="schedule-time" name="{{ prefix }}schedule-time" type="text" value="{{ data[prefix + 'schedule-time'] }}">
                </div>
              </div>

              <div class="govuk-c-date-input__item govuk-c-date-input__item--day">
                <div class="govuk-o-form-group">
                  <label class="govuk-c-label govuk-c-date-input__label" for="schedule-day">
                    Day
                  </label>
                  <input class="govuk-c-input govuk-c-date-input__input" id="schedule-day" name="{{ prefix }}schedule-day" type="text" value="{{ data[prefix + 'schedule-day'] }}">
                </div>
              </div>

              <div class="govuk-c-date-input__item govuk-c-date-input__item--month">
                <div class="govuk-o-form-group">
                  <label class="govuk-c-label govuk-c-date-input__label" for="schedule-month">
                    Month
                  </label>
                  <input class="govuk-c-input govuk-c-date-input__input" id="schedule-month" name="{{ prefix }}schedule-month" type="text" value="{{ data[prefix + 'schedule-month'] }}">
                </div>
              </div>

              <div class="govuk-c-date-input__item govuk-c-date-input__item--year">
                <div class="govuk-o-form-group">
                  <label class="govuk-c-label govuk-c-date-input__label" for="schedule-year">
                    Year
                  </label>
                  <input class="govuk-c-input govuk-c-date-input__input" id="schedule-year" name="{{ prefix }}schedule-year" type="text" value="{{ data[prefix + 'schedule-year'] }}">
                </div>
              </div>
            </div>
          </fieldset>
        </div>

      </div><!-- end of grid-row -->
    </div><!-- end of grid-column -->

    <div class="govuk-!-mb-r6">
      <input type="submit" class="govuk-c-button" value="Save">
    </div>

    <div class="govuk-!-mb-r6">
      <a href="{{ urlPrefix }}/document-tasks" class="button button-link govuk-body">Discard changes</a>
    </div>
  </form>
</main>
{% endblock %}
