{% extends "layout.html" %}
{% block page_title %}{{ data['title'] }}{% endblock %}

{% block content %}
<main role="main" class="govuk-o-main-wrapper">
  <!-- <div class="success-summary" role="alert" tabindex="-1">
    <p>
      Your draft has been saved
    </p>
  </div> -->

  <h1 class="form-title govuk-heading-xl">
    <span class="govuk-caption-xl">{{ data['format'] }}</span>
    {% if data['title'] %}
      {{ data['title'] }}
    {% else %}
      Some title
    {% endif %}
  </h1>

  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      <dl class="metadata">
        <dt>Created by</dt>
        <dd>Kamala Khan</dd>
        <dt>Last updated</dt>
        <dd>20 January 2018</dd>
        <dt>Status</dt>
        <dd>Draft</dd>
      </dl>
      <ol class="document-list">
        <li>
          <ul class="document-list-items">
            {% if data['document-type'] %}
            <li class="document-list-item">
              <div class="task-heading-wrapper govuk-!-mb-r4">
                <h3 class="document-task">
                  Type of {{ data['format'] | lower }}
                </h3>
                <a href="/document-type" class="document-task-action">Change</a>
              </div>
              <div>
                <h3 class="govuk-heading-s">{{ data['document-type'] }}</h3>
                Unedited press releases as sent to the media, and official statements from the organisation or a minister.
              </div>
            </li>
            {% endif %}
            <li class="document-list-item">
              <h3 class="document-task">
                Title, summary and body
              </h3>

              <a class="document-task-action" id="eligibility-completed" href="/title-summary-body">Change</a>

              <dl class="document-task-part">
                <div>
                  <dt class="document-part-label">
                    Title
                  </dt>
                  <dd class="document-part-value">
                    {% if data['title'] %}
                      {{ data['title'] }}
                    {% else %}
                      Some title
                    {% endif %}
                  </dd>
                </div>

                <div>
                  <dt class="document-part-label">
                    Summary
                  </dt>
                  {% if data['summary'] %}
                    <dd class="document-part-value">
                      {{ data['summary'] }}
                    </dd>
                  {% else %}
                    <dd class="document-part-value document-part-value--empty">
                      This field is empty
                    </dd>
                  {% endif %}
                </div>

                <div>
                  <dt class="document-part-label">
                    Body
                  </dt>
                  {% if data['body'] %}
                    <dd class="document-part-value">
                      {{ data['body'] | truncate(200) }}
                    </dd>
                  {% else %}
                    <dd class="document-part-value document-part-value--empty">
                      This field is empty
                    </dd>
                  {% endif %}
                </div>
              </dl>
            </li>
            <li class="document-list-item">
              <h3 class="document-task">
                Images
              </h3>
              <a href="#" class="document-task-action">Add</a>
            </li>
            <li class="document-list-item">
              <div style="overflow: hidden">
                <h3 class="document-task">
                  Attachments
                </h3>
                <a href="/attachment" class="document-task-action">Add</a>
              </div>
              {% set attachment_count = data['attachment-count'] | int %}

              {% if attachment_count > 0 %}
                <div style="clear: both">
                  <ul class="govuk-!-mt-r6 govuk-list">
                {% for i in range(0, attachment_count) %}
                    <li>
                      <h4 class="govuk-heading-s govuk-!-mb-r0">
                        <a class="govuk-link" href="/attachment/{{ i + 1 }}">
                          {{ data[ (i + 1) + '-attachment-title'] }} (<span class="">{{ data[ (i + 1) + '-attachment-filename'] }}</span>)
                        </a>
                      </h4>
                    </li>
                {% endfor %}
                  </ul>
                </div>
              {% endif %}
            </li>
            <li class="document-list-item">
              <h3 class="document-task">
                About this content
              </h3>
              <a href="/about-content" class="document-task-action">Change</a>
              <dl class="document-task-part">

                <div>
                  <dt class="document-part-label">
                    Tags
                  </dt>
                  {% set tag_count = data['tag-count'] | int %}
                  {% if tag_count > 0 %}
                    <dd class="document-part-value">
                      <ul>
                      {% for i in range(0, tag_count) %}
                        <li class="govuk-!-mb-r1">
                          {{ data['selected-tag-' + (i + 1)] }}
                        </li>
                      {% endfor %}
                      </ul>
                    </dd>
                  {% else %}
                    <dd class="document-part-value document-part-value--empty">
                      This field is empty
                    </dd>
                  {% endif %}
                </div>

                {%
                  set dtags = [
                    {
                      name: 'Review frequency',
                      key: 'review-frequency'
                    },
                    {
                      name: 'Expected audience',
                      key: 'expected-audience'
                    },
                    {
                      name: 'Lead organisations',
                      key: 'lead-organisation'
                    },
                    {
                      name: 'Supporting organisations',
                      key: 'supporting-organisation'
                    },
                    {
                      name: 'Ministers',
                      key: 'minister'
                    },
                    {
                      name: 'Topical events',
                      key: 'topical-event'
                    },
                    {
                      name: 'World locations',
                      key: 'world-location'
                    }
                  ]
                %}

                {% for dtag in dtags %}
                  <div>
                    <dt class="document-part-label">
                      {{ dtag.name }}
                    </dt>
                    {% if data[dtag.key] %}
                      <dd class="document-part-value">
                        {{ data[dtag.key] }}
                      </dd>
                    {% else %}
                      <dd class="document-part-value document-part-value--empty">
                        This field is empty
                      </dd>
                    {% endif %}
                  </div>
                {% endfor %}
              </dl>
            </li>
            <li class="document-list-item">
              <h3 class="document-task">
                Publish settings
              </h3>
              <a href="#" class="document-task-action">Add</a>
            </li>
            <li class="document-list-item">
              <h3 class="document-task">
                Translations
              </h3>
              <a href="#" class="document-task-action">Add</a>
            </li>
          </ul>
        </li>
      </ol>

      <a href="#" class="govuk-c-button">Request review</a>
      <ul class="govuk-list">
        <li><a href="#">Request fact-check</a></li>
        <li><a href="#">Preview</a></li>
        <li><a href="#">Force-publish</a></li>
        <li><a href="#" class="danger">Delete this draft</a></li>
      </ul>
    </div>
  </div>
</main>
{% endblock %}
