{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <h1 class="form-title heading-large">
    Everyone’s documents
  </h1>
  <div class="grid-row">
    <div class="column-one-third">
      <form action="/docs/tutorials-and-examples" method="post" class="form">
        <h2 class="heading-medium">Filter documents</h2>

        <div class="form-group">
          <label class="form-label" for="title">
            Title or slug
          </label>
          <input type="text" class="form-control" id="title">
        </div>

        <div class="form-group">
          <label class="form-label" for="author">
            Author
          </label>
          <input type="text" class="form-control" id="author">
        </div>

        <div class="form-group">
          <label class="form-label" for="organisation">
            Organisation
          </label>
          <input type="text" class="form-control" id="organisation">
        </div>
      </form>
    </div>
    <div class="column-two-thirds">
      <h2 class="heading-medium">Documents</h2>
      {% set documentCount = 50 %}
      {% include "includes/document-table.html" %}
    </div>
  </div>
</main>

{% endblock %}
