{% extends "layout.html" %}

{% block page_title %}
  GOV.UK prototype kit
{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <form action="/docs/tutorials-and-examples" method="post" class="form">
        <h1 class="form-title heading-large">
          New document
        </h1>

        <div class="form-group">
          <label class="form-label" for="title">
            Title
            <span class="form-hint">65 characters or fewer</span>
          </label>
          <input type="text" class="form-control" id="title">
        </div>

        <div class="form-group">
          <fieldset>

            <legend>
              <h1 class="heading-medium">
                What type of document?
              </h1>
              <span class="body-text">Select one of the options below.</span>
            </legend>

            <div class="multiple-choice">
              <input id="radio-part-2" type="radio" name="housing-act" value="Part 2">
              <label for="radio-part-2">
                <span class="form-label-bold">News article</span>
                Use for press releases, news stories and responses to media coverage including official statements
              </label>
            </div>

            <div class="multiple-choice">
              <input id="radio-part-3" type="radio" name="housing-act" value="Part 3">
              <label for="radio-part-3">
                <span class="form-label-bold">Publication</span>
                Used for stand-alone government documents
              </label>
            </div>

          </fieldset>
        </div>
        <div class="form-group">
          <input type="submit" class="button" value="Create draft">
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
