{% extends "layout.html" %}
{% block page_title %}GOV.UK prototype kit{% endblock %}

{% block content %}

<main id="content" role="main">
  <div class="grid-row">
    <div class="column-two-thirds">
      <a href="/dashboard" class="link-back">Back</a>
      <form action="/document-type" method="post" class="form">
        <div class="form-group">
          <fieldset>
            <legend>
              <h1 class="heading-xlarge">
                What type of document?
              </h1>
            </legend>

            {% set fields = [
                {
                  name: 'Consultation',
                  text: 'Use for documents requiring collective agreement across government, including calls for evidence'
                },
                {
                  name: 'News article',
                  text: 'Use for press releases, news stories and responses to media coverage including official statements'
                },
                {
                  name: 'Publication',
                  text: 'Used for stand-alone government documents'
                },
                {
                  name: 'Speech',
                  text: 'use for public speeches, ministerial statements to Parliament and bylined articles'
                },
                {
                  name: 'Detailed guide',
                  text: 'Use to tell users the steps they need to take to complete a specific task. They are usually aimed at specialist or professional audiences.'
                },
                {
                  name: 'Document collection',
                  text: 'Use for continuously curated, permanent lists of closely related documents for a specific audience'
                },
                {
                  name: 'Case study',
                  text: 'Use for showing someone’s experience of a process covered on GOV.UK or a policy problem the government is trying to solve'
                },
                {
                  name: 'Statistical data set',
                  text: 'Use for frequently updated statistical data files'
                }
              ]
            %}

            {% for field in fields %}
              <!-- <h3 class="heading-small">
                <a href="#">{{ field.name }}</a>
              </h3>
              <p>{{ field.text }}</p>
              <hr /> -->
            {% endfor %}

            {% for field in fields %}
              <div class="multiple-choice">
                <input id="radio-part-{{ loop.index }}" type="radio" name="format" value="{{ field.name }}">
                <label for="radio-part-{{ loop.index }}">
                  <span class="form-label-bold">{{ field.name }}</span>
                  {{ field.text }}
                </label>
              </div>
            {% endfor %}
          </fieldset>
        </div>
        <div class="form-group">
          <input type="submit" class="button" value="Continue">
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
