{% extends "layout.html" %}
{% block page_title %} Examples – GOV.UK Whitehall{% endblock %}
{% block content %}
<main id="content" role="main">
  <h1 class="heading-xlarge">Examples</h1>
  <div class="grid-row">
    <div class="column-two-thirds">
      <p class="lede">
        A collection of examples based on existing Whitehall pages
      </p>
      <ul class="list list-bullet">
        <li><a href="/new-publication">New publication</a></li>
        <li><a href="/format">Format choice</a></li>
        <li><a href="/documents">Documents</a></li>
      </ul>
    </div>
  </div>
</main>
{% endblock %}
