{% extends "layout.html" %}
{% block page_title %}Examples – GOV.UK Whitehall{% endblock %}
{% block content %}
<main id="content" role="main">
  <h1 class="heading-xlarge">GOV.UK Whitehall prototype</h1>
  <div class="grid-row">
    <div class="column-two-thirds">
      <h2 class="heading-large">Examples</h2>
      <p class="lede">A collection of prototypes based on existing Whitehall pages</p>
      <ul class="list list-bullet">
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/format">News article workflow</a></li>
        <li><a href="/documents">Documents</a></li>
      </ul>

      <h2 class="heading-large">Patterns</h2>
      <ul class="list list-bullet">
        <li><a href="/patterns/flash-notices">Flash notices</a></li>
        <li><a href="/patterns/modals">Modals</a></li>
        <li><a href="/patterns/buttons">Buttons</a></li>
        <li><a href="/patterns/organisation-autocomplete">Organisation autocomplete</a></li>
        <li><a href="/patterns/markdown-editor">Markdown editor with syntax highlighting</a></li>
      </ul>
    </div>
  </div>
</main>
{% endblock %}
