{% extends "layout.html" %}
{% block page_title %}GOV.UK prototype kit{% endblock %}

{% block content %}

{% if data[prefix + 'title'] and data[prefix + 'summary'] and data[prefix + 'body'] %}
  {% set url = urlPrefix + '/document-tasks' %}
{% else %}
  {% set url = urlPrefix + '/title-summary-body' %}
{% endif %}

<a href="/dashboard" class="govuk-c-back-link">Back</a>
<main role="main" class="govuk-o-main-wrapper">
  <div class="govuk-o-grid">
    <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
      <form action="{{ url }}" method="post" class="form">
        <div class="govuk-!-mb-r6">
          <fieldset>
            <legend>
              <h1 class="govuk-heading-xl form-title govuk-!-mb-r7">
                Content type
              </h1>
            </legend>

            {% set fields = [
                {
                  name: 'News',
                  text: '<p class="govuk-body">To tell users about something government has done or will do. For example, news stories, speeches, statements, or notices.</p>'
                },
                {
                  name: 'Transparency',
                  text: '<p class="govuk-body">To provide information that helps users hold government to account. For example, statistics, FOI data, decisions, or reports.</p>'
                },
								{
                  name: 'Guidance',
                  text: '<p class="govuk-body">To help the user do something or understand what they need to do. For example, manuals or statutory guidance.</p>'
                },
                {
                  name: 'Policy',
                  text: '<p class="govuk-body">To explain the government’s position on something. For example, policy papers, impact assessments, independent reports, or case studies.</p>'
                },
                {
                  name: 'Consultations',
                  text: '<p class="govuk-body">To request users views or evidence on an issue and to build collective agreement. </p>'
                },
                {
                  name: 'I’m not sure if this should be on GOV.UK',
                  text: '<p class="govuk-body">View this guide to <a href="/publishing-guidance">what should go on GOV.UK and where else we can publish content</a></p>'
                }
              ]
            %}

            {% for field in fields %}
              <div class="multiple-choice govuk-c-radios__item" data-target="radio-part-{{ loop.index }}-extra">
                <input required id="radio-part-{{ loop.index }}" type="radio" name="intent" value="{{ field.name }}" class="govuk-c-radios__input" {{ checked("intent", field.name) }}>
                <label for="radio-part-{{ loop.index }}" class="govuk-c-label govuk-c-radios__label">
                  <span class="govuk-c-label--bold">{{ field.name }}</span>
                  {{ field.text | safe }}

                  {% if field.more %}
                  <div class="panel panel-border-wide js-hidden govuk-!-mt-r4 govuk-!-mb-r4" id="radio-part-{{ loop.index }}-extra">
                    {{ field.more | safe }}
                  </div>
                  {% endif %}
                </label>
              </div>
            {% endfor %}
          </fieldset>
        </div>
        <div class="govuk-!-mb-r6">
          <input type="submit" class="govuk-c-button" value="Continue">
        </div>
      </form>
    </div>
  </div>
</main>

{% endblock %}
