{% extends "layout.html" %}
{% block page_title %}New news article{% endblock %}

{% block content %}
<main id="content" role="main">
  <form action="/news-article-created" method="post" class="form">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="form-title heading-large">
          <span class="heading-secondary">News article</span>
          Create {{ data['news-article-sub-type'] | lower }}
        </h1>
        <hr />
      </div>
    </div>

    {% set editing = false %}
    {% include "includes/news-article-fields.html" %}
  </form>
</main>
{% endblock %}

{% block page_scripts %}
<script>
  govukGovernmentOrganisationsAutocomplete({
    selectElement: document.getElementById('government-organisations'),
    showAllValues: false,
    minLength: 2,
    defaultValue: ''
  })
</script>
{% endblock %}
