{% extends "govuk-layout.html" %}
{% block page_title %}Preview{% endblock %}

{% block body_classes %}
  govuk-preview
{% endblock %}

{% block content %}
<div class="govuk-o-width-container">
  <main role="main" class="govuk-o-main-wrapper">
    <h1 class="govuk-heading-xl">{{ data['title'] }}</h1>

    <div class="govuk-o-grid">
      <div class="govuk-o-grid__item govuk-o-grid__item--two-thirds">
        <p class="govuk-body-l">{{ data['summary'] }}</p>
        <div class="govuk-prose-scope">
          {{ body_html | safe }}
        </div>
      </div>
    </div>
  </main>
</div>

{% endblock %}
